// Переменные цветов======================================================================================
//Основыные
$mainColor: #000000;
$primary: #edc5a2;
$secondery: #f5fafe;
//Дополнительные
$dark: #0a223d;
$light: #fff;
$button: #4d50ee;
$footer-color: #bdbdbd;
$body: #15171e;

//Подключение шрифтов через google fonts ======================================================================================

//Используй плагин Google Fonsts

//Шрифт
$mainFont: "Lucida Sans";
$fontSize: 16;

//Минимальная ширина страницы
$minWidth: 320;

//Максильманая ширина страницы
$maxWidthPage: 1920;

//Максмальныей размер контейнера
$maxWidthConteiner: 1440;
//Отступ у контейнера
$containerPadding: 30;

//Ширина контейнера с отступами
$widthConteiner: $maxWidthConteiner + $containerPadding + px;

///ОСНОВЫНЕ НАСТРОКИ СЕЛЕКТОРВ======================================================================================

* {
  box-sizing: border-box;
}

.conteiner {
  max-width: $widthConteiner;
  margin: auto;
  //Если паддинг не нужен - закомментировать
  padding: 0 calc($containerPadding / 2 * 1px) 0 calc($containerPadding / 2 * 1px);
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont, sans-serif;
  background-color: $body;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

//МИКСИНЫ И ФУНКЦИИ==========================================================================================

//Адаптивные размеры
//Упрощенная версия

// @mixin propertyAdaptive($property, $maxSize, $minSize) {
//   $addSize: $maxSize - $minSize;
//   $maxWidthPage: $maxWidthPage - 320;
//   #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthPage}));
// }

@function percent($min, $max) {
  @return calc((#{$min} / #{$max}) * 100%);
}
@function rem($px) {
  @return calc(#{$px} / #{$fontSize} * 1rem);
}

//============
@function strip-unit($value) {
  @return calc($value / ($value * 0 + 1));
}

@mixin valueAdaptive($value, $maxValue, $minValue, $maxWidth: $maxWidthConteiner, $minWidth: 320, $bollean: false) {
  $addSize: $maxValue - $minValue;
  @if ($bollean==1) {
    $addWidth: $maxWidthPage - 320;
    #{$value}: calc(#{rem($minValue)} + #{$addSize} * ((100vw - 320px) / #{$addWidth}));
  } @else {
    $addWidth: $maxWidth - $minWidth;
    #{$value}: #{rem(#{$minValue})};
    @media (min-width: #{rem(#{$minWidth})} ) {
      #{$value}: calc(
        #{rem(#{$minValue})} + #{strip-unit($addSize)} * ((100vw - #{$minWidth}px) / #{strip-unit($addWidth)})
      );
    }
    @media (min-width: #{rem(#{$maxWidth})} ) {
      #{$value}: #{rem(#{$maxValue})};
    }
  }
}
